@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins');

body {
	font-family: 'Montserrat', sans-serif;
}

/* header style */

.upper-nav {
	font-family: 'Poppins', sans-serif;
	background: #2394c4;
	color: #fff;
	font-size: .75em;
	padding: .33em 0;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.85em;
	font-weight: 500;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.3em;
}

.bg-secondary {
	background: #f6f6f6 !important;
}
.h1-secondary {
    color: #206C95;	
}

.btn-main {
	background: #2ea3f2;
	color: #fff;
	text-transform: uppercase;
	padding-left: 3em;
	padding-right: 3em;
	border-radius: 0!important;
	border: 2px solid #2ea3f2 !important;
}
.btn-main:hover {
	color: #2ea3f2 !important;
	background: #fff !important;
	border: 2px solid #2ea3f2 !important;
}

.p-secondary {
    color: #84878b;
}

#errorHandlier {
	position: absolute;
	top: 0;
	z-index: 9999;
	width: 350px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

.btn-secondd:hover {
  background: #6c757d !important;
}

.swal-footer {
  text-align: center !important;
}